body {
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

#nav-bar {
    border: 1px solid blue;
}

#logo {
    width: 80px;
    padding: 5px;
}

#banner {
    background-image: url("images/bannner2.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

h2, h3 {
    text-align: center;
}

#mid-section {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#description {
    width: 400px;
}

#team {
    background-image: url("images/team.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 400px;
}


#job-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#job-links {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

h4 {
    margin: 0;
    font-weight: bold;
}

.location {
    margin-top: 0;
}

.apply-link {
    margin-bottom: 30px;
}

#jobs {
    width: 800px;
    margin: 0px auto;
}

#job-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}

#table-head th {
    border: 1px solid gray;
    padding: 5px;
    text-align: left;
    background-color: skyblue;
}

#job-table tr:nth-child(odd) {
    background-color: #cfecf7;
}

.table-data td {
    border: 1px solid gray;
    padding: 5px;
}

.application {
    width: 800px;
    margin: 0 auto;
}

.application-input {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
}

.application-input input, select, textarea, button {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 8px 16px;
    font-weight: 600;
    margin-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.application-input label {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.application-input textarea {
    width: 80%;
}

#termsandconditions {
    margin-top: 20px;
}

#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer li {
    display: inline; /* or inline-block */
    margin-right: 10px; /* Adjust spacing between items */
}

#footer {
    margin-top: 30px;
    text-align: center;
    height: 100px;
    background-color: skyblue;
    padding-top: 25px;
}

ul {
    list-style-type: none;
}
